.top-watched .container{
    color: var(--darkTextColor);
    padding-bottom: 70px;
}
.top-watched-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.top-watched-header a{
    text-decoration: none;
    color: var(--darkAccentColor);
}
.top-watched-header a:hover{
    color: var(--darkAccentColor);
    color: var(--darkTextColor);
}
.top-watched-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media all and (max-width: 1200px){
}
@media all and (max-width: 992px){
}
@media all and (max-width: 820px){
    .top-watched-content{
        justify-content: center;
    }
}
@media all and (max-width: 768px){
}

@media all and (max-width: 540px){
}
@media all and (max-height: 540px){ 
}